---
import Label from '../Label/index.astro';

type Props = {
  id: string;
  type?: 'email' | 'text';
  label: string;
  placeholder: string;
};

const { label, type = 'text', id, placeholder } = Astro.props;
---

<div class='focus-within:text-orange-500 flex flex-col gap-2'>
  <Label id={id}>{label}</Label>
  <input
    id={id}
    type={type}
    class='rounded-md border-gray-800 p-3 focus-visible:ring-2 focus-visible:ring-orange-500 bg-gray-100 placeholder:text-gray-400 text-gray-800'
    placeholder={placeholder}
  />
</div>
