---
import { Image } from 'astro:assets';

import { Api } from '../../services/api';

import { formatPrice } from '../../utils/helpers/formatPrice';

import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header/index.astro';
import Footer from '../../components/Footer/index.astro';
import Badge from '../../components/Badge/index.astro';

import { CartButton } from '../../components/CartButton';
import { Separator } from '../../components/Separator';

export async function getStaticPaths() {
  const api = Api();

  const allProducts = (await api.getAllProducts()).filter(product =>
    Boolean(product.slug),
  );

  return allProducts.map(product => ({ params: { slug: product.slug } }));
}

const { slug } = Astro.params;

if (!slug) return Astro.redirect('/404');

const product = await Api().getProductBySlug(slug);
---

<Layout title={`Product | ${product.name}`}>
  <Header />

  <div class='container rounded-md shadow-md mx-auto mt-12 py-6 gap-6 lg:gap-0'>
    <div class='flex items-center justify-between px-0 lg:px-8 w-full'>
      <Badge>
        {product.category}
      </Badge>
      <Badge>
        {formatPrice(product.price)}
      </Badge>
    </div>

    <div class='grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-0'>
      <Image
        src={product.image}
        width={700}
        height={700}
        alt={product.name}
        class='rounded-md py-8 px-0 lg:p-8'
      />

      <div class='space-y-6 p-0 lg:p-8'>
        <div class='space-y-3'>
          <h1 class='text-2xl text-center text-gray-800 font-semibold'>
            {product.name}
          </h1>
          <Separator />
        </div>

        <p class='text-gray-800 tracking-wider'>{product.description}</p>
        <div class='mx-auto w-max'>
          <CartButton client:load product={product} />
        </div>
      </div>
    </div>
  </div>

  <Footer />
</Layout>
