---
import { Image } from 'astro:assets';

import type { Product } from '../../../../@types/Product';

import { ROUTES } from '../../../../utils/constants/routes';

import { CartButton } from '../../../CartButton';

type Props = {
  product: Product;
};

const { product } = Astro.props;

const productLink = `${ROUTES.product}/${product.slug}`;
---

<div class='shadow-md flex flex-col rounded-md'>
  <a href={productLink}>
    <Image
      style={{ objectFit: 'cover' }}
      src={product.image}
      width={500}
      height={400}
      alt={product.name}
    />
  </a>
  <div class='p-4'>
    <a href={productLink}>
      <strong class='uppercase text-gray-800 font-semibold'
        >{product.name}</strong
      >
    </a>

    <div class='flex items-center justify-between mt-3'>
      <span class='block text-gray-800 font-semibold text-lg'
        >${product.price}</span
      >
      <CartButton client:load product={product} />
    </div>
  </div>
</div>
